extends ../layout

block content 
    h1= title 

    ul 
        each category in cameracategory_list 
            li 
                a(href=category.url) #{category.name}
        
        else 
            li There are no camera categories.